body {
  background-color:	#DAA520;
}
h1 {
  color: #FFF8DC;
  background-color: #228B22;
  border: 1px solid #000000;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
}
h2 {
  color: #000000;
  border: 1px;
  font-family: Arial, Helvetica, sans-serif;
  position: inherit;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
}
a {color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  position: inherit;
  font-weight: bold;
}
#contactinfo {
  position: inherit;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#primary {
  text-align: justify;
  text-justify: inter-word;
}
p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
#education {
  background-color:	#FFF8DC;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
  padding-bottom: 1px;
}
#education a {
  font-weight: normal;
}
#experience {
  background-color:	#FFF8DC;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
  padding-bottom: 1px;
}
#ambitrions {
  background-color:	#FFF8DC;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
  padding-bottom: 1px;
}
footer{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
}
html{
  margin-top: 30px;
  margin-right: 500px;
  margin-bottom: 50px;
  margin-left: 50px;
}
